@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find Collaborators!</p>
</div>

<!--
<div class="card">
    <div class="container">
        <h4><b>John Doe</b></h4>
        <p>First Collaboration</p>
    </div>
</div>
-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>My Studio</h2>
            <a asp-area="Identity" asp-page="/Account/Manage/Index">

            <img src="https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                 alt="My Studio" height="300px" width="520px" />
            </a>
            <p>
                Your created collaborations and the ones you've joined live here. See your notifications and messages, and
                invitations to other community members collaborations.
            </p>
            <p><a class="btn btn-secondary" href="#">View Details</a></p>
        </div>
        <div class="col-md-6">
            <h2>Community</h2>
            <img src="https://images.unsplash.com/photo-1468421870903-4df1664ac249?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80"
                 alt="Community" height="300px" width="520px"/>
            <p>
                Groups are communities and conversations around music and music-related topics.
                You can create your own Groups or contribute to the Groups of others.
            </p>
            <p><a class="btn btn-secondary" href="#">View Details</a></p>
        </div>
        <div class="col-md-6">
            <h2>Collaborations</h2>
            <img src="https://images.unsplash.com/photo-1568246605205-f8df0dde3c35?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" 
                 alt="Collaborations" height="300px" width="520px" />
            <p>
                Where beatmakers, lyricists, audio engineers and rappers convene to produce exceedingly dope things
                You can create your own Collaborations or contribute to the Collaborations of others.
            </p>
            <p><a class="btn btn-secondary" asp-controller="Collaborations" asp-action="Index">View Details</a></p>
        </div>
        <div class="col-md-6">
            <h2>Groups</h2>
            <img src="https://images.unsplash.com/photo-1473642676276-2d4ab561542e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" 
                 alt="Groups" height="300px" width="520px" />
            <p>
                Groups are communities and conversations around music and music-related topics. 
                You can create your own Groups or contribute to the Groups of others.
            </p>
            <p><a class="btn btn-secondary" href="#">View Details</a></p>
        </div>
    </div>
</div>