body {
    background-color: #f1f1f1;
    font-family: 'Ubuntu', sans-serif;
}

.side-menu {
    background: white;
    height: 100%;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    font-size: 18px;
}

    .logo img {
        width: 45px;
    }

.title {
    color: #b7b7b7;
    font-weight: bold;
}

.side-menu ui {
    font-weight: bold;
    list-style-type: none;
}

    .side-menu ui li {
        font-size: 14px;
        line-height: 40px;
        vertical-align: bottom;
    }

        .side-menu ui li i {
            margin-right: 12px;
            color: #b7b7b7;
            font-size: 17px;
        }

.main-area {
}

.top {
    padding-left: 50px;
    height: 500px;
    background: url("https://images.unsplash.com/photo-1486495550307-d7b19c890553?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=516c2b4f59ca8deb2ea42e3c987ccef1&auto=format&fit=crop&w=1050&q=80");
    background-position-y: -180px;
}

.gener {
    margin-top: 40px;
}

    .gener span {
        color: white;
        padding: 10px;
        background: black;
        border-radius: 50px;
        opacity: 0.5;
        text-align: center;
        margin-right: 5px;
    }

.bottom {
    background: #f5f6fa;
}
